@charset "UTF-8";

html {
  font-size: 62.5%;
}
body {
	position: relative;
	color: #444;
	background-color: #f7f7fd;
  font-size: 1.2rem;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}
*, *::before, *::after {
  box-sizing: border-box;
}
a:link, a:visited, a:hover, a:active {
  color: #4e4edc;
  text-decoration: none;
}
.container {
	min-height: 100%;
}
.main {
	width: 80%;
	margin: 50px 10% 0 10%;
}
.clearfix::after {
	content: '';
	display: block;
	clear: both;
}
.wrapper1 {
	float: left;
	width: 30%;
	height: 100%;
	text-align: center;
}
.wrapper1 .box {
	padding: 20px;
}
.name {
	font-size: 2rem;
}
.account-icon {
	font-size: 2rem;
}
.heading {
	font-size: 1.8rem;
	margin: 10px 0;
}
.wrapper1 .heading {
	margin-bottom: 5px;
}
.wrapper2 {
	float: left;
	width: 70%;
	text-align: center;
	border-left: solid 1px #b8b8f1;
	padding-left: 30px;
}
.wrapper2 .heading {
	padding: 20px 0 ;
}
.box {
	width: 100%;
}
.box img {
	width: auto;
	height: 100%;
}
.sub-wrapper {
	width: 100%;
	height: 200px;
}
.sub-wrapper .box {
	width: 50%;
	height: 200px;
	display: inline-block;
	vertical-align: top;
}
.introduction {
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.heading {
	display: block;
}
.description {
	line-height: 20px;
}
.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	margin-top: 20px;
	padding: 10px 0;
	width: 100%;
	height:30px;
	text-align: center;
	background-color: #b8b8f1;
}